---
import SiteNav from '../components/SiteNav.astro';
import { getVideos } from '../utils/parseVideos';
import { getContact } from '../utils/parseContact';
import ContactInfo from '../components/ContactInfo.astro';
import VideoCard from '../components/VideoCard.astro';

const videos = getVideos();
const contact = getContact();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/skin.css" type="text/css" media="all" />
    <title>Gallery | Curve Chiropractic</title>
  </head>
  <body>
    <header class="site-header">
      <div class="main-header">
        <div class="d-flex justify-space-between align-items-center">
          <a class="site-logo" href="index.php">
            <img src="img/logo.png" width="200px" alt="Curve Chiropractic Logo" />
          </a>
          <SiteNav />
          <div class="hdr-btn">
            <a href="#footer" class="site-btn">Book an Appointment</a>
          </div>
        </div>
      </div>
    </header>

    <section class="site-section gallery-section" id="gallery">
      <div class="site-wrapper">
        <div class="section-heading site-content" style="margin-bottom: 2.5rem; margin-top: 2.5rem;">
          <p class="sub-heading">Gallery</p>
          <h2>See Our Practice in Action</h2>
        </div>
        <div class="grid-container video-grid">
          {videos.map(video => (
            <VideoCard video={video} />
          ))}
        </div>
      </div>
    </section>

    <footer id="footer">
      <div class="site-wrapper">
        <div class="top-footer">
          <div class="site-row">
            <div class="site-col col-12">
              <ContactInfo contact={contact} />
            </div>
          </div>
          <div class="bottom-footer">
            <p class="site-copyright">
              <span>© Curve Chiropractic. All Rights Reserved.</span> Site designed by{" "}
              <a href="https://www.rooseveltscaggs.com" target="_blank">Roosevelt Scaggs</a>
            </p>
            <a href="#" class="go-top" style="display: inline;">
              Back to Top <span class="arrow"></span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/script.js" is:inline></script>
  </body>
</html>