---
interface QnaProps {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<div class="qna">
  <h4 class="question">{question}</h4>
  <div class="answer">
    <p>{answer}</p>
  </div>
</div>