<div class="main-navigation">
    <div class="site-toggle">
        <i>MENU <span></span></i>
    </div>
    <div class="site-nav">
        <div class="nav-close">
            Close <img src="img/close-white.svg" width="18" height="18" alt="Close Menu">
        </div>
        <ul>
            <li class="menu-item current-menu-item">
                <a href="/#">Home</a>
            </li>
            <li class="menu-item">
                <a href="/#about-us">About Us</a>
            </li>
            <li class="menu-item">
                <a href="/#services">Services</a>
            </li>
            <li class="menu-item">
                <a href="/#testimonials">Testimonials</a>
            </li>
            <li class="menu-item">
                <a href="/#faqs">FAQs</a>
            </li>
            <li class="menu-item">
                <a href="/gallery">Gallery</a>
            </li>
            <li class="menu-item">
                <a href="/#footer">Contact</a>
            </li>
        </ul>
    </div>
</div>